<ion-content [fullscreen]="true">

  <!-- Login Page -->
  <div class="container"  *ngIf="screen === 'signin'">
    <div class="logo-container">
      <ion-img class="logo" src="assets/logo.png"></ion-img>
    </div>
    <form class="form" [formGroup]="formData">
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Email</legend>
          <ion-input formControlName="email" type="email" placeholder="nome@dominio.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Senha</legend>
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <p class="forget-text"><a (click)="change('forget')">Esqueci a senha</a></p>
      <p class="signup-text">Sou um novo usuário&nbsp;<a (click)="change('signup')">Inscrever-se</a></p>
      <ion-button class="login-button" (click)="login()" expand="block">Entrar</ion-button>
    </form>
  </div>

  <!-- Sign up page -->
  <div class="container"  *ngIf="screen === 'signup'">
    <div class="logo-container">
      <ion-img class="logo" src="assets/logo.png"></ion-img>
    </div>
    <form [formGroup]="formData">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Nome</legend>
          <ion-input formControlName="name" type="text" placeholder="Digite seu nome completo"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Cpf</legend>
          <ion-input formControlName="cpf" type="cpf" placeholder="Digite seu cpf com 11 dígitos"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Celular</legend>
          <ion-input formControlName="phone" type="phone" placeholder="Digite seu número com 11 dígitos"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>CEP</legend>
          <ion-input formControlName="zip_code" type="zip_code" placeholder="Digite seu CEP" (ionChange)="findCep()"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Estado</legend>
          <ion-input formControlName="state" type="state" placeholder="Digite seu Estado"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Cidade</legend>
          <ion-input formControlName="country" type="country" placeholder="Digite sua Cidade"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Endereço</legend>
          <ion-input formControlName="address" type="address" placeholder="Digite seu endereço"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Número</legend>
          <ion-input formControlName="address_number" type="address_number" placeholder="Digite o número de residência"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Email</legend>
          <ion-input formControlName="email" type="email" placeholder="Digite seu email"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Senha</legend>
          <ion-input formControlName="password" type="password" placeholder="Digite sua senha"></ion-input>
        </fieldset>
      </ion-item>
      <p class="signup-text">Já possuo um cadastro&nbsp;<a (click)="change('signin')">Entrar?</a></p>
      <ion-button class="login-button" (click)="register()" expand="block">Cadastrar</ion-button>
    </form>
  </div>

  <!-- Forget password page -->
  <div class="container"  *ngIf="screen === 'forget'">
    <h1 class="heading">Esqueceu a sua senha?<br><br></h1>
    <p class="para">Digite o e-mail para redefinir</p>
    <ion-item lines="none" class="ion-item">
      <fieldset  class="input-item">
        <legend>Email</legend>
        <ion-input type="email" placeholder="nome@dominio.com"></ion-input>
      </fieldset>
    </ion-item>
    <p class="signup-text"><a (click)="change('signin')">Voltar</a></p>
    <ion-button class="login-button" expand="block">Resetar Senha</ion-button>
  </div>

</ion-content>
<div class="spacer"></div>
<ion-footer>
  <ion-toolbar>
    <p class="copyright">PersonaLife</p>
  </ion-toolbar>
</ion-footer>
