<ion-content [fullscreen]="true">

  <!-- Login Page -->
  <div class="container"  *ngIf="screen === 'signin'">
    <div class="logo-container">
      <ion-img class="logo" src="assets/logo.png"></ion-img>
    </div>
    <form class="form" [formGroup]="formData">
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Email</legend>
          <ion-input formControlName="email" type="email" placeholder="nome@dominio.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Senha</legend>
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <p class="forget-text"><a (click)="change('forget')">Esqueci a senha</a></p>
      <p class="signup-text">Sou um novo usuário&nbsp;<a (click)="change('signup')">Inscrever-se</a></p>
      <ion-button class="login-button" (click)="login()" expand="block">Entrar</ion-button>
    </form>
  </div>

  <!-- Sign up page -->
  <div class="container"  *ngIf="screen === 'signup'">
    <div class="logo-container">
      <ion-img class="logo" src="assets/logo.png"></ion-img>
    </div>
    <form [formGroup]="formData">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Nome</legend>
          <ion-input formControlName="name" type="text" placeholder="Matheus Lopes"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Email</legend>
          <ion-input formControlName="email" type="email" placeholder="nome@dominio.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Cpf</legend>
          <ion-input formControlName="cpf" type="cpf" placeholder="XXX-XXX-XXX-XX"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Senha</legend>
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <p class="signup-text">Já possuo um cadastro&nbsp;<a (click)="change('signin')">Entrar?</a></p>
      <ion-button class="login-button" (click)="register()" expand="block">Cadastrar</ion-button>
    </form>
  </div>

  <!-- Forget password page -->
  <div class="container"  *ngIf="screen === 'forget'">
    <h1 class="heading">Esqueceu a sua senha?<br><br></h1>
    <p class="para">Digite o e-mail para redefinir</p>
    <ion-item lines="none" class="ion-item">
      <fieldset  class="input-item">
        <legend>Email</legend>
        <ion-input type="email" placeholder="name@dominio.com"></ion-input>
      </fieldset>
    </ion-item>
    <p class="signup-text"><a (click)="change('signin')">Voltar</a></p>
    <ion-button class="login-button" expand="block">Resetar Senha</ion-button>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <p class="copyright">Persona Life</p>
  </ion-toolbar>
</ion-footer>
