<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-title>
      <span style="font-weight: bold; color: #303135;">Olá, </span> <span style="font-weight: bold; color: #21A782;">{{ name }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    animated
    placeholder="Pesquisar profissionais"
    (ionChange)="onSearch($event)"
  ></ion-searchbar>

  <ion-list >
    <ion-item *ngFor="let professional of professionals">
      <ion-avatar slot="start">
        <img [src]="professional.photoUrl" alt="Foto do Profissional">
      </ion-avatar>
      <ion-label>
        <h2>{{ professional.name }}</h2>
        <p>{{ professional.specialty }}</p>
        <p>{{ professional.city }}, {{ professional.state }}</p>
      </ion-label>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

