.custom-header {
  text-align: center;
  background-color: #14FFBC !important;

  ion-toolbar {
    --background: #14FFBC; /* Substitua pelo código de cor desejado */
  }

  ion-title {
    color: #303135;
  }
}

.profile-container {
  display: flex;  // Use Flexbox para posicionar os itens lado a lado
  align-items: center;  // Alinhe os itens verticalmente ao centro
}

.profile-picture {
  width: 100px;  // Ajuste conforme necessário
  height: 100px;  // Ajuste conforme necessário
  border-radius: 50%;
  margin-right: 10px;  // Adicione um espaçamento entre a foto e a descrição
}

.profile-description {
  flex: 1;  // Ocupa o espaço restante disponível
}

.rounded-image {
  border-radius: 50%;
}

ion-card-content {
  background-color: #21A782;
}

ion-list {
  background-color: #21A782; /* Cor de fundo para o ion-list */
  border-radius: 8px; /* Borda arredondada */
  margin: 0 -1px; /* Margens para reduzir o espaço nas laterais */
}

.custom-information {
  background-color: #14FFBC;
  color: #303135;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #303135;
}

ion-text{
  color: #303135
}

.logout-button {
  margin-top: 110px; /* Adiciona margem acima do botão */
  --border-radius: 4px; /* Borda arredondada para o botão */
  --background: #21A782; /* Cor de fundo do botão de logout */
  --color: #303135; /* Cor do texto do botão de logout */
}
